body {
  padding: 20px;
}

/* .block {
  height: 60px;
  background-color: #08f;
  border: 1px solid white;
  padding-left: 10px;
  padding-right: 10px;
} */

.block1 {
  background-color: #0df;
  width: 100px;
  margin: 10px auto;
}

form {
  background-color: #a43;
}

.block {
  background-color: #08f;
  border: 1px solid white;

  margin-bottom: 20px;
  padding: 20px;
}

.blockX {
  background-color: gray;
  width: auto;
}

input[type="text"] {
  width: 100%;
  font-size: 16px;
  color: #666666;
  border: 2px solid black;
  padding: 10px 20px;
  box-sizing: border-box;
  /* margin: 40px */
}
