body {
  padding: 0 30px;
  font-size: 16px;
  font-family: "Comic Sans MS", "Tahoma";
  font-weight: 280;
  color: rgb(31, 31, 31);
  line-height: 1.5;
  background-color: rgba(107, 241, 83, 0.5);
}

h1 {
  font-size: 2.5em;
  font-family: "Comic Sans";
  font-weight: 280;
}

nav {
  border: 5px solid #4a79cfee;
  border-radius: 8px;
  padding: 7px;
  font-size: 20px;
}

nav a {
  padding: 3px;
  text-decoration-line: none;
  border: 3px solid #555;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

a:hover {
  color: #f3f;
}

a:active {
  color: red;
}

main {
  margin: 10px;
  padding-top: 10px;
}

pre code {
  color: #39a2ac;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

figure img {
  vertical-align: middle;
  border: 10px solid rgb(225, 208, 150);
}

figcaption {
  width: 370px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.02em;
  background-color: rgb(225, 208, 150);
}

footer {
  margin-top: 30px;
  color: #00f;
  border-top: 1px solid #aaaaaa;
  padding-top: 10px;
}

table {
  /* width: 500px;
  height: 700px; */
  margin-top: 20px;
  border-collapse: collapse;
  border: 4px solid #555;
  border-radius: 5px; /* и как это влияет?! */
  border-spacing: 4px;
  padding: 5px;
}

td,
th {
  border-bottom: 2px solid #4a79cfee;
  border-left: 3px solid #4a79cfee;
  padding: 3px;
  /* border-radius: 3px; и как это влияет?! */
  text-align: center;
}

th {
  padding: 5px;
  border-bottom: 3px solid #4a79cfee;
}

/* tr:nth-child(2n) > td {
  background-color: #64c0cc
} */

/* tr:nth-child(2n+1) > td {
  background-color: #5b8f96
} */

caption {
  text-align: left;
  font-size: 20px;
}

form {
  /* display: flex; */
  width: 20%;
  flex-flow: column wrap;
}

input[type="text"] {
  padding: 4px;
}

.main-menu ul {
  margin: 0px;
  /* margin-left: 130px; */
  padding: 5px;
  list-style: none;
}

/* для фотки мелкой
border: 2px solid white;
  box-shadow: 0 0 4px #c0392b;
  transform: rotate(-5deg); */

nav div,
nav ul,
nav ul li {
  display: inline-block;
  margin-right: 1em;
  padding: 5px;
  margin: 4px;
}

.other_inf {
  padding: 30px;
  margin: 20px 0;
  text-align: center;
}

.non_alcohol {
  background-color: #11ee27;
}

main ul {
  /* list-style-type: square; */
  margin: 5px;
  padding: 5px;
  list-style: none;
  border: 2px solid black;
}

main li {
  padding: 3px;
  border: inherit;
  margin: inherit;
}

footer > .copyright {
  font-size: 12px;
  text-align: right;
}
